body {
     background-image: url("../images/bg.jpg");
     padding: 30px;
     text-align:center;
     background-size: 85%;
}

* {
     font-family: verdana;
     color:white;
}

.project{
     height: 170px;
     width: 620px;
     border-color: #BCBEBF;
     background-color: #373838;
     background-size: 20%;
     background-opacity: 0.2;
     border-size:10px;
     margin-bottom: 5px;
     border-style:solid;
}

.project a {
     text-align: center;
     color: white;
     text-decoration: none;
     font-style: oblique;
     font-size: 24px;
}
.project img{
     position:absolute;
     margin: 5px;
     width:150px;
     height:150px;
     border-size:2px;
     border-color:white;
     border-style:solid;
}

.createPlaylistOptions{
     position: relative;
     text-align: center;
}

.options a{
     float:left;
     padding: 20px;
}

.options{
     width: 50%;
     margin: 0 auto;
}

.createPlaylist img{
     width: 114px;
     height: 114px;
     border-size: 1px;
     border-color: white;
     border-style:solid;
}
